@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit; 
  font: inherit; 
	letter-spacing: inherit;
	outline: none;
	border: none;
}

body {
	min-height: 100vh;
	width: 100%;
	font-family: 'Audiowide', cursive;
	line-height: 1.5;
	font-size: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background:linear-gradient(45deg, #205d7e, #205d7e, #659dbd);
	flex-wrap: wrap;
}

#title {
	position: fixed;
	top: 8rem;
	left: 3rem;
	display: block;
	writing-mode: vertical-rl;
	z-index: 10;
	color: #7b0828;
	font-size: 6vmin;
	opacity: 0.6;
	letter-spacing:0.5rem;
	pointer-events: none;
	line-height:1;
}

#inputs-wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	margin:2rem 2rem;
	transition: all 0.5s ease-out;
	background: rgba(221,231,238, 0.2);
	border-radius: 20px;
	color: #ececec;
	font-size: 1.8rem;
}

#inputs-wrapper:hover {
	transform: scale(1.1);
	background: rgba(221,231,238, 0.5);
	box-shadow: 0rem 0rem 0.8rem whitesmoke;
}

.inputs:hover, form:hover {
	background: linear-gradient(45deg, #daad86, #bc986b, #fbeec1);
	box-shadow: 0 0 1rem whitesmoke;
	border-radius: 20px;
}

.inputs {
	padding: 1.5rem;
	margin-top: 1.5rem;
	width: 50%;
	background: transparent;
	transition: all 0.5s ease-out;
	border-bottom: .5rem solid whitesmoke;
}

#grid-wrapper {
	display:grid;
	grid-template: repeat(16, 1fr) / repeat(16, 1fr);
	border: 1rem solid #daad86;
	border-radius: 2rem;
	margin: 2rem auto;
	height: 80vmin;
	width: 80vmin;
	background-color: whitesmoke;
	box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.795)
}

.grid-div {
	border: .05rem dotted lightgray;
	display: inline-block;
	height: 100%;
	width: 100%;
	cursor: crosshair;
	background: rgba(0, 0, 0, 0.0);
	border-radius: 1rem;
}

.black {
	background-color: black;
}

form {
	display: inline-block;
	text-align:center;
	padding: 1.5rem;
}
